<html>

  <head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<style>
			.navbar-default .navbar-header>a {
    		color: rgba(220, 240, 245, 1);
		}

		.nav.navbar-nav.navbar-right>li>a {
			color: rgba(220, 240, 245, 1);
		}

		.navbar-default {
    		font-size: 14px;
    		background-color: rgba(25, 48, 74, 1);
    		border-width: 1px;
    		border-radius: 6px;
		}
		.jumbotron {
			background: #c2dcf1;
			border-block-end: #c1c7ce;
		}
		#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    		color: rgba(196, 243, 255, 1);
    		background-color: rgba(25, 48, 74, 1);
		}
		#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
		#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    		color: rgba(245, 245, 245, 1);
    		background-color: rgba(248, 248, 248, 0);
		}
		#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
		#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
		#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    		color: rgba(85, 85, 85, 1);
    		background-color: rgba(255, 255, 255, 1);
		}
		#custom-bootstrap-menu.navbar-default .navbar-toggle {
    		border-color: #ffffff;
		}
		#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
		#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    		background-color: #ffffff;
		}
		#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    		background-color: #ffffff;
		}
		#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
		#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    		background-color: #19304a;
		}

/*bounce up animation for the subject*/

.bounce-up  {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bounce-up.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}


.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}
		</style>

		<script>
			var $animation_elements = $('.animation-element');
var $window = $(window);

function check_if_in_view() {
  var window_height = $window.height();
  var window_top_position = $window.scrollTop();
  var window_bottom_position = (window_top_position + window_height);

  $.each($animation_elements, function() {
    var $element = $(this);
    var element_height = $element.outerHeight();
    var element_top_position = $element.offset().top;
    var element_bottom_position = (element_top_position + element_height);

    //check to see if this current container is within viewport
    if ((element_bottom_position >= window_top_position) &&
      (element_top_position <= window_bottom_position)) {
      $element.addClass('in-view');
    } else {
      $element.removeClass('in-view');
    }
  });
}

$window.on('scroll resize', check_if_in_view);
$window.trigger('scroll');

</script>

    <title>Life Insurance</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:300:italic" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


      <link rel="stylesheet" href="css/style.css">

  <link rel="stylesheet" type="text/css" href="css/common.css" />
      <link rel="stylesheet" type="text/css" href="css/style2.css" />
			<script type="text/javascript" src="js/modernizr.custom.79639.js"></script>
			<script type="text/javascript" src="delighters.js"></script>
			
    </head>

  <body>
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <a class="navbar-brand" href="#">Life Insurance Plans</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

					<!--add js-->

					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input class="form-control" type="text">
						</div> 
						<button type="submit" class="btn btn-default">
							Submit
						</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">My Account</a>
						</li>
					</ul>
				</div>
				
			</nav>
			<% for(var i=0; i<insurances.length; i++)
			{ %>
				<div class="jumbotron animation-element bounce-up cf" >
					<h2><%- insurances[i].title %></h2>
          <p><%- insurances[i].content.substring(0,100) %>...</p>
					<p><a href="/<%=insurances[i]._id%>">Read More...</a></p>
				</div>
        <%  } %>	
			
		</div>
	</div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    <script src="js/index.js"></script>
  </body>
</html>